/* Base styles */
:root {
    --primary-color: #aed0ee;
    --primary-dark: #06436f;
    --text-color: #333;
    --text-light: #666;
    --text-dark: #111;
    --bg-color: #fff;
    --bg-dark: #1a1a1a;
    --border-color: #eaeaea;
    --border-dark: #333;
    --card-bg: #fff;
    --card-bg-dark: #222;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 4px 6px rgba(0, 0, 0, 0.3);
    --scroll-bar: #bcd4e7;
    --loading-bar: #106898;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "华康方圆体", Roboto, Helvetica, Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 1.6;
    transition: var(--transition);
    background-image: url('../images/backgrounds/lake_clouds_sky_1215259_2560x1440.jpg');
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 确保页面高度至少为视口高度 */
    margin: 0;
}

body.dark {
    --text-color: #f0f0f0;
    --text-light: #aaa;
    --text-dark: #fff;
    --bg-color: #121212;
    --border-color: #333;
    --card-bg: #222;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background-image: url('../images/backgrounds/pond_bushes_trees_1023615_2560x1440.jpg');
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

ul {
    list-style: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--scroll-bar);
    border-radius: 3px;
}

/* Container */
.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

.main {
    display: flex; /* 使用 flexbox 布局 */
    flex-direction: row; /* 横向排列 */
    padding: 1rem; /* 给主内容区域添加内边距 */
    gap: 1rem; /* 主内容和侧边栏之间的间距 */
}

@media (max-width: 900px) {
    .main {
        flex-direction: column; /* 改为纵向布局 */
    }
}

@font-face {
    font-family: '幼圆加粗';
    src: url('../fonts/幼圆加粗.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '幼圆';
    src: url('../fonts/幼圆字体.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '华康方圆体';
    src: url('../fonts/华康方圆体W7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}